<app-nav></app-nav>
<div class="part1">
  <div class="col"></div>
  <div class="txt">
    <h1>Animation</h1>
  </div>
</div>
<div class="part2">
  <div class="p21">
    <h1>Motion graphics</h1>
    <p>
      Motion graphics video productions are an integral part of our services
      offered to clients. High-quality digital motion graphics adds a different
      level of production value which can take an ordinary video to an
      extraordinary level while enhancing the message and theme. Our Motion
      graphics production company is not only designed to impress people but
      they are also formatted to engage audiences more deeply within a central
      narrative. Our design teams let the story dictate the graphics and not
      other way round.
    </p>
  </div>
  <div class="p22">
    <img src="/assets/business.png" alt="business" class="img-fluid" />
  </div>
</div>
<div class="part3">
  <div class="p21">
    <h1>Health & Safety Video</h1>
    <p>
      We create 2D & 3D Health & Safety Animated videos to deliver a powerful
      learning experience among the employees in High Hazard Industries. Safety
      videos and EHS training content can be visualized and re-created to build
      a safer workplace. Animated safety videos have improved the training
      standards, Our company safety videos includes Fire Safety, Electrical
      Safety, Road Safety, Construction Safety and Work at Height Safety, PPE
      videos, Machine environment safety, Air and Health Safety, Material
      Handling Safety, Chemical Safety, Near Miss and Incident Re-creation.
    </p>
  </div>
  <div class="p22">
    <img src="/assets/business.png" alt="business" class="img-fluid" />
  </div>
</div>
<div class="part4" style="padding-bottom: 200px;">
  <div class="p21">
    <h1>Medical Animation</h1>
    <p>
      Medical 3D animations serve as training tools and are useful for product
      demonstration purposes. Medical animation is a clear way to show how a
      medical device operates and functions. Medical animation videos can also
      help patients gain a better understanding of their treatment options.
      Health care facilities, pharmaceutical companies and those working in
      medical research make good use of 3D medical animation for in-person
      demonstrations, public broadcasts, websites, social media and investor
      relations. 3D medical animation is effective in creating brand awareness
      and for presentations of concepts and products that are in the development
      stage.
    </p>
  </div>
  <div class="p22">
    <img src="/assets/business.png" alt="business" class="img-fluid" />
  </div>
</div>
<app-footer garbage="true"></app-footer>