<app-nav></app-nav>
<div class="container-fluid">
  <div class="row as">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="tag">Work With Us !</div>
      <div class="tx"><div style="margin-left: 20px;">We are continually in search of the brightest,<br>
        most talented individuals from around the globe</div></div>
        <button class="btn btn-custom" (click)="kk()">See Open Roles</button>
    </div>
    <div class="col-md-5">
      <img src="assets/img/cr.png" class="img-fluid">
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h6 class="tt">MAKE MAGIC</h6>
      <p class="te">Our team strives to help reach their employee unlimited potential every day. The passion and commitment to that mission lives
        through everything what we do.
      </p>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row" style="padding-bottom: 150px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="kl">INTERESTED?</div>
      <h1 class="ju">Join Us</h1>
      <div class="bba">ORACLE FUSION</div>
      <div class="ho" data-toggle="tooltip" title="Apply Now">
        <div style="float: left;">ERP</div>
        <div style="text-align: right;">Mohali</div>
      </div>

      <div class="bba">WEB DEVELOPER</div>
      <div class="ho" data-toggle="tooltip" title="Apply Now">
        <div style="float: left;">MEAN Developer</div>
        <div style="text-align: right;">Mohali</div>
      </div>
      <div class="ho" data-toggle="tooltip" title="Apply Now">
        <div style="float: left;">MERN Developer</div>
        <div style="text-align: right;">Pune</div>
      </div>

      <div class="bba">ORACLE</div>
      <div class="ho" data-toggle="tooltip" title="Apply Now">
        <div style="float: left;">Finance</div>
        <div style="text-align: right;">Mohali</div>
      </div>
      </div>
  </div>
</div>
<app-footer garbage="true"></app-footer>
