<app-nav [coloro]="po"></app-nav>

<div fullpage id="fullpage9" [options]="config" (ref)="getRef($event)">
  <div class="section s1">
    <div class="bg"></div>
    <div class="quote">
      <p class="text-center">
        Trust is the glue of life. It’s the most essential ingredient in
        effective communication. It’s the foundational principle that holds all
        relationships.
      </p>
    </div>
    <div class="container">
      <!-- <img src="/assets/biglogo.png" alt=""> -->
    </div>
  </div>
  <div class="section s2">
    <div class="container">
      <h6 class="text-center  fadeInUp" data--duration="1s">
        WHO WE ARE
      </h6>
      <h4 class="text-center">IT Consulting and Service Company</h4>
      <div class="box">
        <div class="b1  fadeInLeft" data--duration="1s">
          <!-- <div class="img"></div> -->
          <img src="/assets/we.png" alt="" />
        </div>
        <div class="space"></div>
        <div class="b2  fadeInRight" data--duration="1s">
          <h5 #headingc>Company overview</h5>
          <p #contentp>
            Applications Emicon delivers IT enabled business transformation
            initiatives within organizations. These help organizations in the
            public, and private sectors operate more efficiently and profitably.
            By combining in-depth understanding of our clients' businesses with
            vast industry and consulting expertise with Big 4 consulting
            organizations, we take on our clients' challenges jointly and
            develop specific specialized solutions to address them. Through our
            highly collaborative consulting style, we work with our clients to
            transform their business, enabling them to focus on what they do
            best and leave their back office and operational enablement on us.
            <br />
            <br />
            We are not product driven organization but we believe in how to
            drive the best solution and value proposition. We believe in
            delivering business value and therefore achieve a better ROI and TCO
            to our client. Our offerings span across Business and Technology
            Consulting, Application Services, Systems Integration, Custom
            Software Development, Business Process re-engineering, Change &
            Knowledge Management, Mobile Application Development, IT
            Infrastructure Services and Business Process Management and across
            Enterprise Content Management (ECM).
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section s3">
    <div class="bg1"></div>
    <div class="container" style="position: relative;">
      <h6 class="text-center  fadeInTop" data--duration="5s">
        WHO WE ARE
      </h6>
      <h4 class="text-center">IT Consulting and Service Company</h4>
      <div class="box">
        <div class="b1  fadeInLeft" data--duration="1s">
          <img src="/assets/bulb.png" alt="" />
        </div>
        <div class="space"></div>
        <div class="b2  fadeInRight" data--duration="1s">
          <h5 #hp1>Vision</h5>
          <p #p1>
            Enabling our employees to accelerate growth of our customers and
            create value for the society globally.
          </p>
          <br />
          <h5 #hp2>Mission Statement</h5>
          <ul #p2>
            <li>
              <strong> &nbsp; &nbsp;Workforce: </strong> Hiring Effective Work
              Force which can be trained to meet our evolving &nbsp;&nbsp; client needs.
            </li>
            <li>
              <strong> &nbsp; &nbsp;Innovation: </strong>Drill down into new
              domains with specialized Product and Solutions &nbsp;&nbsp;through
              collaborative work with partners.
            </li>
            <li>
              <strong> &nbsp; &nbsp;Competitive Advantage To Customer: </strong
              >Adding competitive advantages to &nbsp;&nbsp;Customer by providing best
              leading practices across business domains.
            </li>
            <li>
              <strong> &nbsp; &nbsp;Good Governance: </strong>Following Best
              Practices in terms of compliance that will lead &nbsp;&nbsp;to fairness and
              integrity towards the organization and its customers.
            </li>
            <li>
              <strong> &nbsp; &nbsp;Corporate Social Responsibility: </strong>
              Responsive towards the Society by contributing &nbsp;&nbsp;towards educational
              and social programs.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="section s4">
    <div class="heading text-center" #h4>
      <h6>OUR LEADERS</h6>
      <h4>Pillars of Success</h4>
    </div>
    <div class="pillars" #pillars>
      <div class="p1 text-center  fadeInLeft" data--duration="1s">
        <img src="/assets/a1.png" alt="" />
        <h5>Radhesh Kumar Soni</h5>
        <h6>Designation</h6>
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro
          assumenda totam beatae architecto dolor? Perspiciatis dolorum soluta
          esse labore obcaecati explicabo commodi cupiditate at, expedita dicta
          voluptatum ab, assumenda veniam!
        </p>
      </div>
      <div class="space"></div>
      <div class="p2 text-center  fadeInUp" data--duration="1s">
        <img src="/assets/a1.png" alt="" />
        <h5 class="text-center">Radhesh Kumar Soni</h5>
        <h6>Designation</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro
          assumenda totam beatae architecto dolor? Perspiciatis dolorum soluta
          esse labore obcaecati explicabo commodi cupiditate at, expedita dicta
          voluptatum ab, assumenda veniam!
        </p>
      </div>
      <div class="space"></div>
      <div class="p3 text-center  fadeInRight" data--duration="1s">
        <img src="/assets/a1.png" alt="" />
        <h5 class="text-center">Radhesh Kumar Soni</h5>
        <h6>Designation</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro
          assumenda totam beatae architecto dolor? Perspiciatis dolorum soluta
          esse labore obcaecati explicabo commodi cupiditate at, expedita dicta
          voluptatum ab, assumenda veniam!
        </p>
      </div>
    </div>
  </div> -->
  <div class="section s5">
    <div class="heading text-center">
      <h6>MEET OUR TEAM</h6>
      <h4>OUR PROFESSIONAL TEAM</h4>
    </div>
    <div class="imgu"></div>
  </div>
</div>
