<app-nav></app-nav>
<div class="part1">
  <div class="col"></div>
  <div class="txt">
    <h1>DIGITAL</h1>
    <h2>Marketing</h2>
  </div>
</div>

<div class="container aq">
  <h1 style="text-align: center; margin-top: 50px; margin-bottom: 70px;">DIGITAL MARKETING</h1>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p class="con">We take pride in delivering fully-integrated, proven digital marketing solutions. Our team can help you set-up
        a solid digital strategy, gearing you to reach the pinnacle of success. All you have to do, to rule the digital marketplace
         is –Let us handle your brand-you grab your smartphone, scroll Facebook, watch Netflix and chill because you will not have
         to worry about it. Let Emicon be your pal!</p>
         <ul>
           <li>Facebook Ads</li>
           <li>Instagram Ads</li>
           <li>Google Ads</li>
           <li>Youtube Ads</li>
           <li>SEO</li>
           <li>Content Marketing</li>
           <li>eCommerce Marketing</li>
         </ul>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- <div class="container">
  <div style="text-align: center; margin-top: 60px;">
  <img src="assets/img/bulb.png" class="img-fluid">
  </div>
  <div class="row" style="margin-top: 80px;">
    <div class="col-md-1"></div>
    <div class="col-md-3 col-sm-6 ">
      <div class="service-box">
          <div class="service-icon yellow">
              <div class="front-content">
                  <i class="fa fa-trophy"></i>
                  <h3>Marketing</h3>
              </div>
          </div>
          <div class="service-content">
              <h3>design</h3>
              <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure</p>
              <button type="button" (click)="myFunction1()" class="btn btn-outline-light mt-3">Read More</button>
            </div>
      </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3 col-sm-6 ">
      <div class="service-box">
          <div class="service-icon orange">
              <div class="front-content">
                  <i class="fa fa-anchor"></i>
                  <h3>Digital Marketing</h3>
              </div>
          </div>
          <div class="service-content">
              <h3>Digital Marketing</h3>
              <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure</p>
              <button type="button" (click)="myFunction2()" class="btn btn-outline-light mt-3">Read More</button>
            </div>
      </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3 col-sm-6">
      <div class="service-box ">
          <div class="service-icon red">
              <div class="front-content">
                  <i class="fa fa-trophy"></i>
                  <h3>Google Ads</h3>
              </div>
          </div>
          <div class="service-content">
              <h3>Developer</h3>
              <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure</p>
              <button type="button" (click)="myFunction3()"  class="btn btn-outline-light mt-3 cl">Read More</button>
            </div>
      </div>
  </div>
  </div>
  <div class="row" style="margin-bottom: 200px;">
    <div class="col-md-2"></div>
    <div class="col-md-9">
      <div id="myDIV1" class="animated fadeIn">
       This is Marketing.
        </div>
      <div id="myDIV2" class="animated fadeIn">
        This is Digital Marketing.
        </div>
      <div id="myDIV3" class="animated fadeIn">
        This is Google Ads.
        </div>
    </div>
  </div>
</div> -->


<app-footer garbage="true"></app-footer>
