<!-- <div class="container">
<p class="subheading">OUR FEATURES</p>
<h2 class="heading">SERVICES</h2>
<div class="col-6" style="margin-top:30px;">
  <div class="container wow slideInLeft" data-wow-duration="2s" data-wow-delay="0s">
    <div class="row">
      <div class="col-6 title">
        <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
        <p>ENTERPRISE SOLUTION</p>
        <p class="con">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
      <div class="col-6 title">
        <i class="fa fa-code fa-2x" aria-hidden="true"></i>
        <p>WEB DEVELOPMENT</p>
        <p class="con">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 title">
        <i class="fa fa-mobile fa-3x" aria-hidden="true"></i>
        <p>MOBILE APPS</p>
        <p class="con">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
      <div class="col-6 title">
        <i class="fa fa-database fa-2x" aria-hidden="true"></i>
        <p>DATA & ANALYTICS</p>
        <p class="con">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
    </div>
  </div>

</div>

<div class="col-6">
  <img src="assets/img/ourfeatures.jpg" alt="Nature" class="responsive" width="600" height="400">
</div>
<button mat-stroked-button class="btnn">Read More</button>
</div>
 -->
<div class="container" style="margin-top: 100px;">
  <!-- <p class="mainsubhead" style="font-weight: 700;">OUR FEATURES</p> -->
  <div class="mainhead" style="font-weight: 600;">SOLUTIONS</div>
  <div class="row" style="margin-top: 60px;">
    <div class="col-md-6 wow slideInLeft" data-wow-duration="2s" data-wow-delay="0s">
      <div class="row">
        <div class="col-md-6 box">
          <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
          <p class="heading">ENTERPRISE RESOURCE PLANNING</p>
          <p class="con">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
        <div class="col-md-6 box">
          <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
          <p class="heading">HUMAN CAPITAL MANAGEMENT</p>
          <p class="con">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 box">
          <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
          <p class="heading">SUPPLY CHAIN MANAGEMENT</p>
          <p class="con">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
        <div class="col-md-6 box">
          <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
          <p class="heading">CUSTOMER EXPERIENCE</p>
          <p class="con">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
      </div>
      <div class="row mt-3">
        <button type="button" class="btn btn-outline-custom">Read More</button>
      </div>
    </div>
    <div class="col-md-6">
      <img src="assets/img/ourfeatures.jpg" alt="Nature" class="img-fluid animated fadeIn">
    </div>
  </div>
</div>
