<app-nav></app-nav>
<div class="part1">
  <div class="col"></div>
  <div class="txt">
    <h1>WEB</h1>
    <h2>Development</h2>
  </div>
</div>


<div class="container">
  <h4 class="heading"><i class="fa fa-rocket" aria-hidden="true" style="color: #05487F;"></i> Building compelling mobile apps for iPhone and Android</h4>
  <p class="subheading">Emicon being a best web designing and development company with the bunch of right mindset people where our
    engineers have outstanding technical education, for designing phase we have designers with inbuilt capabilities to withstand
     with latest designs.</p>
     <p class="subheading">Web Application Development is an important measure for the growth of your business, so every feature
        in the Application matters and we are fully aware of that. For us, each feature on the Web Application reflects the
        integrity of your Service. Our team of engineers at Emicon is all dedicated to bring forth creativity in every aspect
         and to provide you with a powerful, efficient, attractive and resourceful website that would ensure easy handling on
          the user's end as well as on company's end. </p>
    <h4 class="nextheading">User-centric Web App solutions</h4>
    <div class="nextsubheading">SEAMLESS EXPERIENCES ACROSS DEVICES</div>
      <div class="row" style="margin-top: 100px;">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <div class="style_prevu_kit">
            <i class="fa fa-search-plus fa-4x" aria-hidden="true"></i>
            <p>Rigorous Requirement Analysis</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="style_prevu_kit">
            <i class="fa fa-usd fa-4x" aria-hidden="true"></i>
            <p>Competitve Rates & Project Quotes</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="style_prevu_kit">
            <i class="fa fa-mobile fa-4x" aria-hidden="true"></i>
            <p>Expert Mobile App Developers</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="style_prevu_kit" style="background-color:transparent;">
            <i class="fa fa-link fa-4x" aria-hidden="true"></i>
            <p>Proven Delivery Methods</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="style_prevu_kit" style="background-color:transparent;">
            <i class="fa fa-thumbs-o-up fa-4x" aria-hidden="true"></i>
            <p>90% Client Satisfaction</p>
          </div>
        </div>
  </div>
  <div class="row ab">
    <div class="col-md-6">
    <h3 class="aq">Platform We Offer for Website Development:</h3>
    <p class="subheading">With breeding technologies and hi-tech tools, there comes diversity in the demand of our clients for Web Development
       Services and we are well equipped with our team of experts to meet all sorts of demands that accompany each project.
        We offer a wide range of platforms for website development services:</p>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-4" style="margin-top: 20px;">
    <ul class="list">
      <li>AngularJS/Angular 2 Development</li>
      <li>React Development</li>
      <li>NodeJS Development</li>
      <li>API Web Services</li>
      <li>Java Web Development</li>
      <li>PHP Web Development</li>
      <li>Laravel Development</li>
    </ul>
  </div>
  </div>
</div>

<div class="container-fluid boxit" >
  <h1>Innovations & Excellence Powered By Latest Technology</h1>
  <h4>THE POSSIBILITIES ARE INFINITE</h4>
  <div class="row" style="margin-top: 50px;">
    <div class="col-md-2"></div>
    <div class="col-md-1">
      <img src="assets/img/angular.png" class="img-fluid ia">
    </div>
    <div class="col-md-1">
      <img src="assets/img/node.png" class="img-fluid ia">
    </div>
    <div class="col-md-1">
      <img src="assets/img/react.png" class="img-fluid ia">
    </div>
    <div class="col-md-1 mt-3">
      <img src="assets/img/php.png" class="img-fluid ia">
    </div>
    <div class="col-md-1">
      <img src="assets/img/java.png" class="img-fluid ia">
    </div>
    <div class="col-md-1 mt-3">
      <img src="assets/img/mongo.png" class="img-fluid ia">
    </div>
    <div class="col-md-1 mt-3">
      <img src="assets/img/asp.png" class="img-fluid ia">
    </div>
    <div class="col-md-1 mt-3">
      <img src="assets/img/wp.png" class="img-fluid ia">
    </div>
  </div>
</div>

<app-footer garbage="true"></app-footer>
