.carousel-item {
  height: 10vh;
  min-height: 420px;
  background:scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h2 i{
  color: #05487F;
}
.az{
  background-color: #05487F;
  color: white;
  padding: 25px;
  border-radius: 2px;
}

.tp p{
  font-size: 15px;
  font-weight: 700;
  margin-left: 30px;
}
.tp p i{
  font-size: 20px;
  color: white;
  margin-right: 10px;
}
