
<div class="container nm">
  <div class="row">
    <div class="col-md-5 col-lg-5 col-xl-5 wow slideInLeft ac" data-wow-duration="2s" data-wow-delay="0s">
      <p class="subheading">WHO WE ARE</p>
      <h3 class="heading">WE ARE GLOBAL IT CONSULTING</h3>
      <!-- <p class="cont">Emicon Advisory Services is a leading IT service provider helping organizations to Implement Enterprise Applications
         like Oracle Cloud and e-Business Suite, Transform digitally, Do Change Management effectively and Brand themselves to make their
         presence felt. Emicon provides its clients a wide range of services with the help of in-depth knowledge of business processes
         gained by the core team members by working with Big 4 Consulting and Fortune 500 organizations.
      </p>
      <p class="cont">We take on client’s challenges jointly and develop personalized solutions to address them.</p> -->
      <!-- <button type="button" class="btn btn-outline-custom" style=" border-radius: 0px;">Read More</button> -->
      <div>
        <input type="checkbox" class="read-more-state" id="post-1" />

        <p class="read-more-wrap cont">
          Emicon Advisory Services is a leading IT service provider helping organizations to Implement Enterprise Applications
         like Oracle Cloud and e-Business Suite, Transform digitally, Do Change Management effectively and Brand themselves to make their
         presence felt. Emicon provides its clients a wide range of services with the help of in-depth knowledge of business processes
         gained by the core team members by working with Big 4 Consulting and Fortune 500 organizations.<br><br>
         We take on client’s challenges jointly and develop personalized solutions to address them.
           <span class="read-more-target">
            <br>The company was founded with the vision to accelerate the client’s growth by providing optimal, cost-effective services.
             This has been enabled through an able team supported by Tools, Techniques and Continuous Training. Emicon has developed
              a lot of proprietary tools and repositories to help clients’ realize a measurable ROI in a short period of time.
            <br><br>
            Emicon has been a partner of choice for providing services to several leading companies across the United States, United
             Kingdom, Canada, Japan, United Arab Emirates, Qatar, Kuwait, and India.
          </span></p>
        <label for="post-1" class="read-more-trigger"></label>
      </div>



    </div>
    <div class="col-md-1 col-lg-1 col-xl-1"></div>
    <div class="col-md-6 col-lg-6 col-xl-6"><img src="assets/img/secondpage1.jpg" alt="Nature" class="img-fluid animated fadeIn"></div>
  </div>
</div>

<div class="container-fluid"> <div class="row" style="margin-top: 100px; background-color: whitesmoke; padding: 50px;">
  <div class="container">
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-5 col-sm-12 col-xs-12  kk"><img src="assets/img/secondpage2.jpg" alt="Nature" class="img-fluid animated fadeIn"></div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-4 wow slideInRight iam" data-wow-duration="2s" data-wow-delay="0s" >
    <p class="subheading">WE LOVE OUR CLIENTS</p>
    <h2 class="heading">WHY CHOOSE US</h2>
    <p class="cont">In a cut throat world which is highly competitive, one requires constant vigil and focus on efficiency and cost
       optimization. At Emicon, we extend our hand to turn the search for an efficient partner into an affable and supportive journey
        that no one ever takes alone.
    </p>
    <p class="cont">We also follow a consultative and holistic approach to design the solutions. We not only understand your business
       but also consider your short-term & long-term goals and growth opportunities to implement the plan for success.</p>
    <ul style="margin-left: -35px;">
      <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>&emsp;You can Trust</li>
      <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>&emsp;You can develop solutions along</li>
      <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>&emsp;You can relax for Quality </li>
      <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>&emsp;Deliver operational excellence</li>
    </ul>
  </div>
</div>
</div>
</div>
</div>
