<h1 class="head" style="margin-top: 100px;">Our Valuable Clients</h1>
<hr class="line">
<div class="container" style="min-height: 50px; margin-bottom: 100px;">
  <div class="text-center">
    <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img src="assets/img/logo1.png" class="img fluid"></ng-template>
    <ng-template carouselSlide><img src="assets/img/logo2.png" class="img fluid" style="margin-top: 130px;"></ng-template>
    <ng-template carouselSlide><img src="assets/img/logo3.png" class="img fluid" style="margin-top: 70px;"></ng-template>
    <ng-template carouselSlide><img src="assets/img/logo4.jpg" class="img fluid" style="margin-top: 50px;"></ng-template>
    <ng-template carouselSlide><img src="assets/img/logo5.png" class="img fluid" style="margin-top: 120px;"></ng-template>
    <ng-template carouselSlide><img src="assets/img/logo6.png" class="img fluid" style="margin-top: 60px;"></ng-template>
    <ng-template carouselSlide><img src="assets/img/logo7.png" class="img fluid" style="margin-top: 110px;"></ng-template>
    <ng-template carouselSlide><img src="assets/img/logo8.png" class="img fluid" style="margin-top: 80px;"></ng-template>
    <ng-template carouselSlide><img src="assets/img/logo9.png" class="img fluid" style="margin-top: 140px;"></ng-template>
    <ng-template carouselSlide><img src="assets/img/logo10.png" class="img fluid" style="margin-top: 120px;"></ng-template>
    <ng-template carouselSlide><img src="assets/img/logo11.png" class="img fluid" style="margin-top: 140px;"></ng-template>
    <ng-template carouselSlide><img src="assets/img/logo12.png" class="img fluid" style="margin-top: 50px;"></ng-template>
    <!-- <ng-template carouselSlide><img src="assets/img/logo13.png" class="img fluid" style="margin-top: 50px;"></ng-template> -->
    <ng-template carouselSlide><img src="assets/img/logo14.png" class="img fluid" style="margin-top: 90px;"></ng-template>
    <ng-template carouselSlide><img src="assets/img/logo15.png" class="img fluid" style="margin-top: 80px;"></ng-template>
  </owl-carousel-o>
</div>
</div>
