<app-nav></app-nav>
<div class="container-fluid" style=" padding-left: 0rem;
padding-right: 0rem;
overflow: hidden;">
  <div class="row">
    <div class="col-md-12" >
<!-- <div class="skewed-bg"> -->
	<div class="content">
    <h5 class="subtit">GOT A QUESTION?</h5>
		<h1 class="ti">Contact EMICON</h1>
     <p class="pi">We’re here to help and answer any question you might have. We look forward to hearing from you </p>
	</div>
<!-- </div> -->
</div>
</div>

  <div class="footer">
    <div class="row aq">
      <div class="col-md-3"></div>
    <div class="col-md-3">
          <!-- form contact -->
          <div class="card">
            <div class="card-body">
              <form autocomplete="off" class="form" role="form">
                <fieldset>
                  <div class="row">
                  <div class="col-md-6 mb-1">
                    <label class="mb-2" for="name2">First Name <span style="color: red;">*</span></label>
                    <div>
                      <input class="form-control" id="name2" name="name2" required="" type="text">
                    </div>
                  </div>
                  <div class="col-md-6 mb-1">
                    <label class="mb-2" for="name2">Last Name <span style="color: red;">*</span></label>
                    <div>
                      <input class="form-control" id="name2" name="name2" required="" type="text">
                    </div>
                  </div>
                  </div>
                  <label class="mb-2" for="email2">Email <span style="color: red;">*</span></label>
                  <div class="row mb-1">
                    <div class="col-lg-12">
                      <input class="form-control" id="email2" name="email2" required="" type="text">
                    </div>
                  </div>
                  <label class="mb-2" for="message2">Message <span style="color: red;">*</span></label>
                  <div class="row mb-1">
                    <div class="col-lg-12">
                      <textarea class="form-control" id="message2" name="message2" required="" rows="6"></textarea>
                    </div>
                  </div>
                  <button class="btn btn-custom btn-block" type="submit">Send Message</button>
                </fieldset>
              </form>
          </div><!-- /form contact -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="az">
      <h2 class="hq">How Can We Help?</h2>
      <div class="ad">ADDRESS</div>
      <div class="row">
        <div class="col-md-3">
          <div class="of">MOHALI</div>
          <div class="tt">D-268, Industrial Area, Sector 74,
             Sahibzada Ajit Singh Nagar, Punjab 160055</div>
        </div>
        <div class="col-md-3">
          <div class="of">PUNE</div>
          <div class="tt">1st Floor, Malhar, NDA Pashan Road, Chandani Chonk Bavdhan Pune
            Maharashtra 411021</div>
        </div>
      </div>
      <div class="add">CONTACT US</div>
      <div class="row">
        <div class="col-md-6 tt">
          <i class="fa fa-envelope-o" aria-hidden="true" style="color: orange;"></i>&nbsp;EMAIL Business@emiconglobal.com<br>
          <i class="fa fa-phone" aria-hidden="true" style="color: orange;"></i>&nbsp;&nbsp;Phone +91 6239048396
        </div>
        <div class="col-md-3">
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-10 mt-3">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.3680556079476!2d76.6829296155266!3d30.70805179387197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390feeffb2c9797d%3A0x8c87bf1f5cfdf2e2!2sEmicon%20Advisory%20Services%20LLP!5e0!3m2!1sen!2sin!4v1584341808693!5m2!1sen!2sin" width="400" height="120" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div> -->
      </div>
    </div>
  </div>
</div>
</div>
<app-footer garbage="true"></app-footer>

