.container-fluid{
  background: white;
  color: black;
}


 .content {
  text-align: center;
  margin-bottom: 160px;
}

.footer {
  padding-top: 10px;
  padding-bottom: 200px;
  background-color: whitesmoke;
  -ms-transform: skewY(-8deg);
  -webkit-transform:skewY(-8deg);
  transform: skewY(-8deg);
}
.aq{
  -ms-transform: skewY(8deg);
  -webkit-transform:skewY(8deg);
  transform: skewY(8deg);
}
.subtit{
  padding-top: 200px;
  color: grey;
}
.ti{
  font-weight: 700;
  color: #06477F;
}
.pi{
  font-weight: 500;
}
label{
  font-weight: 500;
  margin-top: 20px;
}
.card{
  border: 0px solid white;
  box-shadow: 1px 1px 12px 1px rgba($color: #000000, $alpha: 0.2);
}
.az{
  margin-top: 20px;
  margin-left: 50px;
  padding-left: -15px;
}
.hq{
  font-weight: 600;
  color: grey;
}
.ad{
  font-size: 1.5rem;
  font-weight: 600;
  color: #06477F;
  margin-top: 50px;
  margin-bottom: 10px;
}
.add{
  font-size: 1.5rem;
  font-weight: 600;
  color: #06477F;
  margin-top: 35px;
  margin-bottom: 10px;
}
.of{
  font-weight: 600;
  color: orange;
}
.tt{
  font-weight: 500;
  color: grey;
}

.btn{
  background-color: #06477F;
   color: white;
  padding: 10px;
  margin-top: 15px;
  transition: all 1s;
  border-radius: 0px;
  }
  .btn:hover{
    background-color: white;
    color: #06477F;
    border: 1px solid #06477F;
    font-weight: 600;
  }
  @media only screen and (max-width: 768px) {
    .hq{
      margin-top: 70px;
      margin-bottom: -20px;
    }
  }
