<app-nav></app-nav>
<div class="part1">
  <div class="col"></div>
  <div class="txt">
    <h1>DATA</h1>
    <h2>Analysis</h2>
  </div>
</div>
<div class="container box1">
  <div class="row">
  <div class="col-md-6">
    <h3>ANALYTICS & DATA VISUALIZATION</h3>
     <p>We are proud partners on best in market Business Intelligence and Analytics offerings
       available to ever changing and demanding industry. Our expertise in solving data challenges to transform value
        out of your available business data into meaningful visualization.
    </p>
  </div>
  <div class="col-md-6"><img src="assets/img/bda.jpg" class="img-fluid"></div>
  </div>
</div>

<div class="container-fluid box2">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-line-chart" aria-hidden="true"></i> Prescriptive Analytics</h3>
    <p>Decision making can be tough. Through optimization and simulation, give your users a clear answer for what to
       do next. Power your prescriptive analytics models with artificial intelligence and machine learning to improve accuracy.</p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-database" aria-hidden="true"></i> Data Mining</h3>
        <p>Discover patterns in your data sets with the power of machine learning, statistics, and database systems.
        Detect Anomalies, find associations, classify and summarize to generate faster and deeper insights.
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-podcast" aria-hidden="true"></i> Predictive Analytics</h3>
        <p>Predict future outcomes to identify risks and opportunities with the use of statistical models such as
        Logistic and Linear regression models, decision trees and time series models. Detect Fraud, improve marketing
        RoI, forecast sales and prioritize on customers likely to churn
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container" style="margin-top: 100px;">
  <div class="row">
    <!-- <div class="col-md-1 col-lg-1 col-xl-1"></div> -->
    <div class="col-md-5 col-lg-5 col-xl-5 wow slideInLeft" data-wow-duration="2s" data-wow-delay="0s">
      <h3 class="heading">REPORTS AND DASHBOARDS</h3>
      <p class="cont">Which products are my top sellers? Which regions should I invest in? Who
         are my customers? Your business has questions. Get quick answers anytime, anywhere!</p>
      <!-- <button type="button" class="btn btn-outline-custom" style=" border-radius: 0px; ">Read More</button> -->
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6 col-lg-6 col-xl-6"><img src="assets/img/adv3.png" alt="Nature" class="img-fluid"></div>
  </div>
</div>
<div class="container-fluid"> <div class="row" style="margin-top: 100px; background-color: rgba(128,128,128,0.2); padding: 50px;">
  <div class="container">
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-5  kk"><img src="assets/img/adv4.jpg" alt="Nature" class="img-fluid"></div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-4 wow slideInRight iam" data-wow-duration="2s" data-wow-delay="0s" >
    <h2 class="heading">SCORECARDS</h2>
    <p class="cont">Measure 360 degree progress over time towards specific goals. Track the performance of
       your agents / dealers / partners.</p>
  </div>
</div>
</div>
</div>
</div>



<div class="container box4">

  <div class="headm">GEO AND LOCATION INTELLIGENCE</div>
  <div class="subheadm">Visually identify the best location to do business. Reduce Delivery and Transportation Costs.
    Enrich with demographic and geographic data for enhanced insights.</div>
  <div class="row" style="margin-top: 50px;">
    <div class="col-md-4 mt-5"><img src="assets/img/adv5.png" alt="Nature" class="img-fluid"></div>
    <div class="col-md-7" style="margin-top: 30px;">
      <h3>What is Business Intelligence ?</h3>
      <p class="co" style="margin-top: 30px;">Business Intelligence (BI) turns data into information. It is the sum of applications, technologies, and methods adopted
         to glean strategically relevant information for business. The task involves collecting, integrating, analyzing, and
          applying historical, current and predictive information related to the business. The objective is to gain strategic
           insights, evaluate risk, and improve decision-making capabilities for top management, business owners, and other
            stakeholders.</p>
            <p class="co">Business intelligence information encompasses both internal data and external data related to the business.
               Internal data may include operational data, data from sales, financial data, and more. External information is
                fairly wide in scope and may include information from the external supply chain, social media channels and more.
                 Another dimension to external information for business intelligence is information about competitors and other
                  companies, for benchmarking, and to gain a competitive edge over such companies.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="co">Many businesses now apply business intelligence to make informed decisions, rather than relying on hunches
        or unfounded assumptions. For instance, restaurant owners use business intelligence to decide the menu to
        be added and removed from a restaurant menu. Automobile manufacturers apply business intelligence to add new
        features to their car models. Tour operators use business intelligence to optimize their itinerary. The
        possibilities are endless. Businesses may use Business intelligence to modify their internal work processes
         as well.</p>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 70px; padding-bottom: 200px;">
  <h1 style="text-align: center; margin-bottom: 50px; color: #054780;">BUSINESS INTELLIGENCE VS. ANALYTICS</h1>
  <div class="row">
    <div class="col-md-12">
      <p class="co">One might mistake Business Intelligence as being another name for the much-hackneyed business analytics.
        While both business intelligence and analytics involve aggregating and analyzing data, the similarity ends there.</p>
        <p class="co">Business intelligence aggregates data to make it explicit what is happening to the business, whereas analytics
          aggregate data to delve into why it happens. For instance, business intelligence evaluates sales performance
          by extracting data from various sources and presenting it in the form of intuitive graphs. Analytics involves
          running statistical tests to make explicit whether sales performance correlates with advertisements and
          promotions undertaken.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"><img src="assets/img/adv6.jpg" alt="Nature" class="img-fluid"></div>
    <div class="col-md-6" style="margin-top:10px;">
      <p class="co">While both business intelligence and analytics involve analysis of data, the scope is markedly different.
         In a sense, Business Intelligence ends with the basic mathematical operations of addition, averages, and percentages
         to the dataset. Applying advanced algorithms complex formulas, statistical operations such as regression analysis,
         correlation analysis, and more, to answer deeper questions related to the dataset comes from the realm of analytics.</p>
         <p class="co">Technically, Business Intelligence encompasses ETL tools to access and transform data, OLAP (online
           analytical processing) tools to handle complex queries, tools to manage metadata, development tools to generate various
            reports and dashboards, and others tools for publishing, scheduling and distribution capabilities. Analytics co-opt
            different methods of analyzing information, such as descriptive, predictive, regression, neural networks, and the tools
             to apply such methods.</p>
             <ul>
               <li>Data Solutions</li>
               <li>Operational Analytics</li>
               <li>Business Analytics</li>
               <li>Predictive Analytics</li>
               <li>Trends and Predictions</li>
             </ul>
    </div>
  </div>
</div>
<app-footer garbage="true"></app-footer>