<div class="container" style="margin-top: 100px;">
  <h1 class="heading">Oracle Solutions</h1>
  <hr class="line">
  <div class="box" style="margin-top: 40px;">
    <div class="row">
      <div class="col-md-5">
         <!-- <button type="button" class="btn btn-custom btn-lg btn-block" (click)="openit1()"><i class="fa fa-film" aria-hidden="true" ></i> ORACLE R12 UPGRADE SERVICES</button> -->
         <button type="button" class="btn btn-custom btn-lg btn-block" ><i class="fa fa-film" aria-hidden="true" ></i> ORACLE R12 UPGRADE SERVICES</button>

         <div class="boxxmobile animated fadeIn" *ngIf="show1">
          <div style="position:relative">
          <!-- <i class="fa fa-times-circle fa-2x icon" (click)="close1()" aria-hidden="true"></i> -->

          <i class="fa fa-times-circle fa-2x icon"aria-hidden="true"></i>
          </div>
          <div style="text-align: center;  margin-bottom:20px;">
          <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
          </div>
          <h4 style="text-align: center;  margin-bottom: 20px; font-weight: 700;">Oracle R12 Upgrade Services</h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolorem repudiandae in, sunt at dolore ea eos fugit hic
          veritatis modi rerum nulla praesentium velit, ex et? Neque, fugiat cupiditate.
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam autem minus molestiae, non, nemo fuga odio
            culpa amet reiciendis est illum. Dolores provident blanditiis repellendus velit hic ad voluptatum exercitationem.</p>
            <div class="ak" style="text-align: center; ">
              <button type="button" class="btn btn-outline-custom" >View More</button></div>
        </div>
        <!-- <button type="button" class="btn btn-custom btn-lg btn-block" (click)="openit2()"><i class="fa fa-anchor" aria-hidden="true"></i> IMPLEMENTATION</button> -->
        <button type="button" class="btn btn-custom btn-lg btn-block" ><i class="fa fa-anchor" aria-hidden="true"></i> IMPLEMENTATION</button>

        <div class="boxxmobile animated fadeIn" *ngIf="show2">
          <div style="position:relative">
            <i class="fa fa-times-circle fa-2x icon"  aria-hidden="true"></i>
            <!-- <i class="fa fa-times-circle fa-2x icon" (click)="close2()" aria-hidden="true"></i> -->
            </div>
            <div style="text-align: center;  margin-bottom:20px;">
              <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
              </div>
          <h4 style="text-align: center;  margin-bottom: 20px; font-weight: 700;">Implemetation</h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolorem repudiandae in, sunt at dolore ea eos fugit hic
          veritatis modi rerum nulla praesentium velit, ex et? Neque, fugiat cupiditate.
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam autem minus molestiae, non, nemo fuga odio
            culpa amet reiciendis est illum. Dolores provident blanditiis repellendus velit hic ad voluptatum exercitationem.</p>
            <div class="ak" style="text-align: center; ">
              <button type="button" class="btn btn-outline-custom" >View More</button></div>
        </div>
        <!-- <button type="button" class="btn btn-custom btn-lg btn-block" (click)="openit3()"><i class="fa fa-desktop" aria-hidden="true"></i> HEALTH CHECK AND AUDIT SERVICES</button> -->
        <button type="button" class="btn btn-custom btn-lg btn-block" ><i class="fa fa-desktop" aria-hidden="true"></i> HEALTH CHECK AND AUDIT SERVICES</button>

        <div class="boxxmobile animated fadeIn" *ngIf="show3">
          <div style="position:relative">
            <!-- <i class="fa fa-times-circle fa-2x icon" (click)="close3()" aria-hidden="true"></i> -->

            <i class="fa fa-times-circle fa-2x icon"  aria-hidden="true"></i>
            </div>
            <div style="text-align: center;  margin-bottom:20px;">
              <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
              </div>
          <h4 style="text-align: center;  margin-bottom: 20px; font-weight: 700;">Health Check and Audit Service</h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolorem repudiandae in, sunt at dolore ea eos fugit hic
          veritatis modi rerum nulla praesentium velit, ex et? Neque, fugiat cupiditate.
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam autem minus molestiae, non, nemo fuga odio
            culpa amet reiciendis est illum. Dolores provident blanditiis repellendus velit hic ad voluptatum exercitationem.</p>
            <div class="ak" style="text-align: center; ">
              <button type="button" class="btn btn-outline-custom" >View More</button></div>
        </div>
        <!-- <button type="button" class="btn btn-custom btn-lg btn-block" (click)="openit4()"><i class="fa fa-user-o" aria-hidden="true"></i> PROGRAM MANAGEMENT</button> -->
        <button type="button" class="btn btn-custom btn-lg btn-block"><i class="fa fa-user-o" aria-hidden="true"></i> PROGRAM MANAGEMENT</button>

        <div class="boxxmobile animated fadeIn" *ngIf="show4">
          <div style="position:relative">
            <!-- <i class="fa fa-times-circle fa-2x icon" (click)="close4()" aria-hidden="true"></i> -->
            <i class="fa fa-times-circle fa-2x icon"  aria-hidden="true"></i>
            </div>
            <div style="text-align: center;  margin-bottom:20px;">
              <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
              </div>
          <h4 style="text-align: center;  margin-bottom: 20px; font-weight: 700;">4Health Check and Audit Service</h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolorem repudiandae in, sunt at dolore ea eos fugit hic
          veritatis modi rerum nulla praesentium velit, ex et? Neque, fugiat cupiditate.
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam autem minus molestiae, non, nemo fuga odio
            culpa amet reiciendis est illum. Dolores provident blanditiis repellendus velit hic ad voluptatum exercitationem.</p>
            <div class="ak" style="text-align: center; ">
              <button type="button" class="btn btn-outline-custom" >View More</button></div>
        </div>
        <!-- <button type="button" class="btn btn-custom btn-lg btn-block" (click)="openit5()"><i class="fa fa-cogs" aria-hidden="true"></i> MANAGED SERVICES</button> -->
        <button type="button" class="btn btn-custom btn-lg btn-block"><i class="fa fa-cogs" aria-hidden="true"></i> MANAGED SERVICES</button>
        <div class="boxxmobile animated fadeIn" *ngIf="show5">
          <div style="position:relative">
            <!-- <i class="fa fa-times-circle fa-2x icon" (click)="close5()" aria-hidden="true"></i> -->
            <i class="fa fa-times-circle fa-2x icon" aria-hidden="true"></i>
            </div>
            <div style="text-align: center; margin-bottom:20px;">
              <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
              </div>
          <h4 style="text-align: center; margin-bottom: 20px; font-weight: 700;">5Health Check and Audit Service</h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolorem repudiandae in, sunt at dolore ea eos fugit hic
          veritatis modi rerum nulla praesentium velit, ex et? Neque, fugiat cupiditate.
          <p style="margin-top: 10px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam autem minus molestiae, non, nemo fuga odio
            culpa amet reiciendis est illum. Dolores provident blanditiis repellendus velit hic ad voluptatum exercitationem.</p>
            <div class="ak" style="text-align: center; ">
              <button type="button" class="btn btn-outline-custom" >Read More</button></div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6 ak" id="ka" >
        <div class="boxx animated fadeIn" *ngIf="show1">
          <div style="position:relative">
          <!-- <i class="fa fa-times-circle fa-2x icon" (click)="close1()" aria-hidden="true"></i> -->
          <i class="fa fa-times-circle fa-2x icon" aria-hidden="true"></i>
          </div>
          <div style="text-align: center;  margin-bottom:20px;">
          <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
          </div>
          <h4 style="text-align: center;  margin-bottom: 20px; font-weight: 700;">Health Check and Audit Service</h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolorem repudiandae in, sunt at dolore ea eos fugit hic
          veritatis modi rerum nulla praesentium velit, ex et? Neque, fugiat cupiditate.
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam autem minus molestiae, non, nemo fuga odio
            culpa amet reiciendis est illum. Dolores provident blanditiis repellendus velit hic ad voluptatum exercitationem.</p>
            <div class="ak" style="text-align: center; ">
              <button type="button" class="btn btn-outline-custom" >View More</button></div>
        </div>
        <div class="boxx animated fadeIn" *ngIf="show2">
          <div style="position:relative">
            <!-- <i class="fa fa-times-circle fa-2x icon" (click)="close2()" aria-hidden="true"></i> -->
            <i class="fa fa-times-circle fa-2x icon" aria-hidden="true"></i>
            </div>
            <div style="text-align: center;  margin-bottom:20px;">
              <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
              </div>
          <h4 style="text-align: center;  margin-bottom: 20px; font-weight: 700;">2Health Check and Audit Service</h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolorem repudiandae in, sunt at dolore ea eos fugit hic
          veritatis modi rerum nulla praesentium velit, ex et? Neque, fugiat cupiditate.
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam autem minus molestiae, non, nemo fuga odio
            culpa amet reiciendis est illum. Dolores provident blanditiis repellendus velit hic ad voluptatum exercitationem.</p>
            <div class="ak" style="text-align: center; ">
              <button type="button" class="btn btn-outline-custom" >View More</button></div>
        </div>
        <div class="boxx animated fadeIn" *ngIf="show3">
          <div style="position:relative">
            <!-- <i class="fa fa-times-circle fa-2x icon" (click)="close3()" aria-hidden="true"></i> -->
            <i class="fa fa-times-circle fa-2x icon" aria-hidden="true"></i>
            </div>
            <div style="text-align: center;  margin-bottom:20px;">
              <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
              </div>
          <h4 style="text-align: center;  margin-bottom: 20px; font-weight: 700;">3Health Check and Audit Service</h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolorem repudiandae in, sunt at dolore ea eos fugit hic
          veritatis modi rerum nulla praesentium velit, ex et? Neque, fugiat cupiditate.
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam autem minus molestiae, non, nemo fuga odio
            culpa amet reiciendis est illum. Dolores provident blanditiis repellendus velit hic ad voluptatum exercitationem.</p>
            <div class="ak" style="text-align: center; ">
              <button type="button" class="btn btn-outline-custom" >View More</button></div>
        </div>
        <div class="boxx animated fadeIn" *ngIf="show4">
          <div style="position:relative">
            <i class="fa fa-times-circle fa-2x icon" aria-hidden="true"></i>
            <!-- <i class="fa fa-times-circle fa-2x icon" (click)="close4()" aria-hidden="true"></i> -->
            </div>
            <div style="text-align: center;  margin-bottom:20px;">
              <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
              </div>
          <h4 style="text-align: center;  margin-bottom: 20px; font-weight: 700;">4Health Check and Audit Service</h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolorem repudiandae in, sunt at dolore ea eos fugit hic
          veritatis modi rerum nulla praesentium velit, ex et? Neque, fugiat cupiditate.
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam autem minus molestiae, non, nemo fuga odio
            culpa amet reiciendis est illum. Dolores provident blanditiis repellendus velit hic ad voluptatum exercitationem.</p>
            <div class="ak" style="text-align: center; ">
              <button type="button" class="btn btn-outline-custom" >View More</button></div>
        </div>
        <div class="boxx animated fadeIn" *ngIf="show5">
          <div style="position:relative">
            <!-- <i class="fa fa-times-circle fa-2x icon" (click)="close5()" aria-hidden="true"></i> -->
            <i class="fa fa-times-circle fa-2x icon"  aria-hidden="true"></i>
            </div>
            <div style="text-align: center; margin-bottom:20px;">
              <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
              </div>
          <h4 style="text-align: center; margin-bottom: 20px; font-weight: 700;">5Health Check and Audit Service</h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolorem repudiandae in, sunt at dolore ea eos fugit hic
          veritatis modi rerum nulla praesentium velit, ex et? Neque, fugiat cupiditate.
          <p style="margin-top: 10px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam autem minus molestiae, non, nemo fuga odio
            culpa amet reiciendis est illum. Dolores provident blanditiis repellendus velit hic ad voluptatum exercitationem.</p>
            <div class="ak" style="text-align: center; ">
              <button type="button" class="btn btn-outline-custom" >Read More</button></div>
        </div>
        <img src="assets/img/sol.png" alt="Nature" class="img-fluid animated fadeIn" *ngIf="showimg">
      </div>
    </div>
  </div>
</div>
