<app-nav></app-nav>
<div fullpage id="solutions" [options]="config" (ref)="getRef($event)">
  <div class="section box">
    <div class="contentbox">
      <h1>
        Our Passion <br />
        Is Your <br />Success
      </h1>
      <hr />
      <h6>
        Our training and strategic services have helped <br />
        thousands of organizations succeed on major <br />
        Platforms.
      </h6>
    </div>

    <div class="imgbox">
      <img src="/assets/sol0.jpg" alt="solution" class="img-fluid" />
    </div>
  </div>
  <div class="section sol1">
    <div class="box">
      <div class="b1">
        <div class="sub">Oracle Solutions</div>
        <div class="heading">
          <h1>
            Oracle
            Solutions
          </h1>
          <div class="vox">
            <div class="b31">
              <ul>
                <li>Oracle Cloud ERP</li>
                <li>Oracle Cloud HCM</li>
                <li>Oracle SCM</li>
                <li>Oracle EPM</li>
                <li>Oracle CX</li>
                <li>E-Business Suite</li>
                <li>PAAS Solutions</li>
                <li>Oracle BI (OBIEE)</li>
              </ul>
            </div>
            <div class="b32">
              <ul>
                <li>
                  <i
                    class="fa fa-arrow-right"
                    [routerLink]="['/oracle-services']"
                    fragment="erp"
                  ></i>
                </li>
                <li>
                  <i
                    class="fa fa-arrow-right"
                    [routerLink]="['/oracle-services']"
                    fragment="hcm"
                  ></i>
                </li>
                <li>
                  <i
                    class="fa fa-arrow-right"
                    [routerLink]="['/oracle-services']"
                    fragment="scm"
                  ></i>
                </li>
                <li>
                  <i
                    class="fa fa-arrow-right"
                    [routerLink]="['/oracle-services']"
                    fragment="man"
                  ></i>
                </li>
                <li>
                  <i
                    class="fa fa-arrow-right"
                    [routerLink]="['/oracle-services']"
                    fragment="cx"
                  ></i>
                </li>
                <li>
                  <i
                    class="fa fa-arrow-right"
                    [routerLink]="['/oracle-services']"
                    fragment="business"
                  ></i>
                </li>
                <li>
                  <i
                    class="fa fa-arrow-right"
                    [routerLink]="['/oracle-services']"
                    fragment="paas"
                  ></i>
                </li>
                <li>
                  <i
                    class="fa fa-arrow-right"
                    [routerLink]="['/oracle-services']"
                    fragment="bi"
                  ></i>
                </li>
              </ul>
            </div>
          </div>
          <div style="text-align: center; ">
            <button type="button" class="btn1" routerLink="/oracle-services">
              View More
            </button>
          </div>
        </div>
      </div>
      <div class="space"></div>
      <div class="b2">
        <img src="/assets/s2.jpg" alt="s2" />
      </div>
    </div>
  </div>
  <div class="section sol2">
    <div class="box">
      <div class="b1">
        <div class="sub">Emicon Analytics</div>
        <div class="heading">
          <h1>
            Analytics
          </h1>
          <div class="vox">
            <div class="b31">
              <ul>
                <li>Incorta</li>
                <li>Tableau</li>
                <li>SSRS</li>
                <li>Qlik</li>
                <li>Alteryx</li>
                <li>Power BI</li>
              </ul>
            </div>
            <div class="b32">
              <ul>
                <li><i class="fa fa-arrow-right"></i></li>
                <li><i class="fa fa-arrow-right"></i></li>
                <li><i class="fa fa-arrow-right"></i></li>
                <li><i class="fa fa-arrow-right"></i></li>
                <li><i class="fa fa-arrow-right"></i></li>
                <li><i class="fa fa-arrow-right"></i></li>
              </ul>
            </div>
          </div>
          <div style="text-align: center; ">
            <button
              type="button"
              class="btn1"
              routerLink="/analytics-and-data-visualization"
            >
              View More
            </button>
          </div>
        </div>
      </div>
      <div class="space"></div>
      <div class="b2">
        <img src="/assets/s3.jpg" alt="image" />
      </div>
    </div>
  </div>
  <div class="section sol3">
    <div class="box">
      <div class="b1">
        <div class="sub">Emicon Web Development</div>
        <div class="heading">
          <h1>
            Web <br />
            Development
          </h1>
          <div class="vox">
            <div class="b31">
              <ul>
                <li>Angular</li>
                <li>Majento 2</li>
                <li>React</li>
                <li>Java</li>
                <li>Wordpress Dev.</li>
                <li>PHP</li>
              </ul>
            </div>
            <div class="b32">
              <ul>
                <li><i class="fa fa-arrow-right"></i></li>
                <li><i class="fa fa-arrow-right"></i></li>
                <li><i class="fa fa-arrow-right"></i></li>
                <li><i class="fa fa-arrow-right"></i></li>
                <li><i class="fa fa-arrow-right"></i></li>
                <li><i class="fa fa-arrow-right"></i></li>
              </ul>
            </div>
          </div>
          <div style="text-align: center; ">
            <button type="button" class="btn1" routerLink="/web-development">
              View More
            </button>
          </div>
        </div>
      </div>
      <div class="space"></div>
      <div class="b2">
        <img src="/assets/s4.jpg" alt="s2" />
      </div>
    </div>
  </div>
  <div class="section sol4">
    <div class="box">
      <div class="b1">
        <div class="sub">Emicon App Development</div>
        <div class="heading">
          <h1 class=" fadeInLeft" data--duration="2s">
            App <br />
            Development
          </h1>
          <div class="vox">
            <div class="b31">
              <ul>
                <li>IOS</li>
                <li>Android</li>
                <li>Native</li>
              </ul>
            </div>
            <div class="b32">
              <ul>
                <li><i class="fa fa-arrow-right"></i></li>
                <li><i class="fa fa-arrow-right"></i></li>
                <li><i class="fa fa-arrow-right"></i></li>
              </ul>
            </div>
          </div>
          <div style="text-align: center; ">
            <button type="button" class="btn" routerLink="/app-development">
              View More
            </button>
          </div>
        </div>
      </div>
      <div class="space"></div>
      <div class="b2">
        <img src="/assets/s5.jpg" alt="image" />
      </div>
    </div>
  </div>
  <div class="section sol5">
    <div class="box">
      <div class="b1">
        <div class="sub">Emicon Digital Marketing</div>
        <div class="heading">
          <h1 class=" slideInRight" data--duration="2s">
            Digital <br />Marketing
          </h1>
          <div class="vox">
            <div class="b31">
              <ul>
                <li>Social Marketing</li>
                <li>SEO</li>
                <li>Email Marketing</li>
                <li>Content Marketing</li>
              </ul>
            </div>
            <div class="b32">
              <ul>
                <li><i class="fa fa-arrow-right"></i></li>
                <li><i class="fa fa-arrow-right"></i></li>
                <li><i class="fa fa-arrow-right"></i></li>
                <li><i class="fa fa-arrow-right"></i></li>
              </ul>
            </div>
          </div>
          <div style="text-align: center; ">
            <button type="button" class="btn" routerLink="/digital-marketing">
              View More
            </button>
          </div>
        </div>
      </div>
      <div class="space"></div>
      <div class="b2">
        <img src="/assets/s6.jpg" alt="image" />
      </div>
    </div>
  </div>
  <div class="section sol6">
    <div class="box">
      <div class="b1">
        <div class="sub">Emicon In Animations</div>
        <div class="heading">
          <h1>
            Animations
          </h1>
          <div class="vox">
            <div class="b31">
              <ul>
                <li>Motion graphics</li>
                <li>3D Animation</li>
                <li>Product Animation</li>
                <li>E-Learning</li>
              </ul>
            </div>
            <div class="b32">
              <ul>
                <li><i class="fa fa-arrow-right"></i></li>
                <li><i class="fa fa-arrow-right"></i></li>
                <li><i class="fa fa-arrow-right"></i></li>
                <li><i class="fa fa-arrow-right"></i></li>
              </ul>
            </div>
          </div>
          <div style="text-align: center; ">
            <button type="button" class="btn" routerLink="/animation-services">
              View More
            </button>
          </div>
        </div>
      </div>
      <div class="space"></div>
      <div class="b2">
        <img src="/assets/s7.jpg" alt="image" />
      </div>
    </div>
  </div>
</div>

<div *ngIf="mobile">
  <app-footer garbage="true"></app-footer>
</div>
