<app-nav></app-nav>
<div class="part1">
  <div class="col"></div>
  <div class="txt">
    <h1>MOBILE APP</h1>
    <h2>Development</h2>
  </div>
</div>

<div class="container">
  <h4 class="heading"><i class="fa fa-rocket" aria-hidden="true" style="color: #05487F;"></i> Building compelling mobile apps for iPhone and Android</h4>
  <p class="subheading">Emicon promises to deliver cutting-edge mobile app development services in every industry, since 2012.Serving clients
     like Tynor, etc. our mobile app developers have grown tremendously to deliver the full range of mobile services.We
      hold notable presence as a top mobile app development company worldwide for creating most modern and interactive interfaces.</p>
    <h4 class="nextheading">User-centric Mobile App Development solutions</h4>
    <div class="nextsubheading">SEAMLESS EXPERIENCES ACROSS DEVICES</div>
      <div class="row" style="margin-top: 100px;">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <div class="style_prevu_kit">
            <i class="fa fa-search-plus fa-4x" aria-hidden="true"></i>
            <p>Rigorous Requirement Analysis</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="style_prevu_kit">
            <i class="fa fa-usd fa-4x" aria-hidden="true"></i>
            <p>Competitve Rates & Project Quotes</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="style_prevu_kit">
            <i class="fa fa-mobile fa-4x" aria-hidden="true"></i>
            <p>Expert Mobile App Developers</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="style_prevu_kit" style="background-color:transparent;">
            <i class="fa fa-link fa-4x" aria-hidden="true"></i>
            <p>Proven Delivery Methods</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="style_prevu_kit" style="background-color:transparent;">
            <i class="fa fa-thumbs-o-up fa-4x" aria-hidden="true"></i>
            <p>90% Client Satisfaction</p>
          </div>
        </div>
  </div>
</div>

<div class="container-fluid boxit">
  <h1>Innovations & Excellence Powered By Latest Technology</h1>
  <h4>THE POSSIBILITIES ARE INFINITE</h4>
  <div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-1 col-sm-4">
      <img src="assets/img/adr.png" class="img-fluid ia">
    </div>
    <div class="col-md-1 col-sm-4">
      <img src="assets/img/ios.png" class="img-fluid ia">
    </div>
    <!-- <div class="col-md-1 col-sm-4">
      <img src="assets/img/rn.png" class="img-fluid ia">
    </div> -->
    <div class="col-md-1 col-sm-4">
      <img src="assets/img/ai.png" class="img-fluid ia">
    </div>
    <div class="col-md-1 col-sm-4">
      <img src="assets/img/java.png" class="img-fluid ia">
    </div>
  </div>
</div>
<app-footer garbage="true"></app-footer>
