<app-nav></app-nav>
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div  style="background: linear-gradient(to right, #6190e8, #a7bfe8);" class="img-fluid carousel-item active">
        <div class="carousel-caption ">
          <h3  style="color: white; font-size: 7vh; font-weight: 400; text-align: left; ">Customer Experience</h3>
        </div>
      </div>
    </div>
    </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1 style="margin-top: 70px;">Customer Experience</h1>
      <p>Customer experience is one of the most crucial things on which every company should work quite seriously and efficiently.
         Since a bad customer experience can dwindle the fortune of any company. According to one research, 94 percent of customers
          unsubscribed their communication with one company because they receive irrelevant promotions and messages. Now just imagine
           how significant the power of customer experience is.</p>
           <p>Today, when the marketing ecosystem is getting complex day-by-day and customers expectations are also rising- organizations
              need a solution that can help them augment customer experience to a whole new level. Oracle CX Cloud delivers a great
               customer experience with a diverse range of cloud applications. Oracle CX is the only solution that connects the entire
                customer journey and accelerates transformation. It helps you to get closer to your customers and accelerate business
                 processes for better customer service. Engage your customers with deeply personalized, relevant, and timely campaigns.</p>
              <div class="container-fluid az">
                <div class="row">
                  <div class="col-md-6 tp">
                    <h1 style=" margin-bottom: 30px;">Customer Experience</h1>
                    <p><i class="fa fa-usd" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Marketing</p>
                    <p><i class="fa fa-chain-broken" aria-hidden="true"></i>&nbsp;Engagement – Sales and Services</p>
                    <p><i class="fa fa-balance-scale" aria-hidden="true"></i>Loyalty</p>
                    <p><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;Configure, Price and Quote</p>
                    <button type="button" class="btn btn-light" style="margin-left: 60px; border-radius: 0px;">Read More</button>
                  </div>
                  <div class="col-md-6" style="margin-top: 15px;">
                    <img src="/assets/img/erp.jpg" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <h2 style="margin-top: 60px;"><i class="fa fa-adjust" aria-hidden="true"></i> Marketing</h2>
                    <img src="/assets/img/fa.jpg" class="img-fluid mt-3">
                    <p>Oracle Marketing Cloud is a digital marketing platform that simplifies how marketing teams harness digital
                       innovation, empowers leading brands to transform the customer experience, helps enterprises to attract ideal
                        customers, and grow revenue.</p>
                        <p>Oracle Marketing Cloud helps to reduce the complexity of digital ecosystem so that marketing directors can
                           focus on transforming the customer experience with the right resources. Oracle Marketing Cloud is the one-stop
                            solution for the marketers which provides the security, performance, and scale that IT expects.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h2 style="margin-top: 20px;"><i class="fa fa-adjust" aria-hidden="true"></i> Engagement – Sales and Services</h2>
                          <p>Oracle Engagement Cloud is a comprehensive, advanced, and proven solution that offers multiple vital features
                             to build long and lasting customer relationships. Its powerful features like- sales coach, opportunity
                             assessment, call reports, and a centralized team calendar keep sales reps on track with the information
                             and guidance they need, to close more deals. Ultimately, it helps sales managers to meet their business
                             goals with greater ease and efficiency. Oracle Engagement Cloud has robust sales and services capabilities,
                             built on a single platform that increases overall teams’ effectiveness and encourages critical communication
                             about each in-flight opportunity.</p>
                               <ul>
                                 <li><b>360° Customer View – </b> Sales representatives can quickly gain a 360° view of customer’s account
                                    including open/completed sales activities, cross-sell and up-sell recommendations, etc.</li>
                                 <li><b>Lead and Opportunity Assessment – </b> Sales representatives can close more deals by measuring risk and
                                      competition, by determining the financial factors, etc</li>
                                 <li><b>Best-in-class Knowledge Management – </b>Artificial intelligence, voice technology, and connected data
                                   allows sales representatives to focus on selling. Personalized advice engine and an extensive
                                   omnichannel framework ensure customers get the correct information. With Oracle Engagement Cloud
                                   organization becomes flexible and agile while driving revenues</li>
                               </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h2 style="margin-top: 20px;"><i class="fa fa-adjust" aria-hidden="true"></i> Loyalty</h2>
                          <p>Gone are those days when customers would just become satisfied with the quality of the product purchased
                            or services availed. Modern customers expect more from their favorite or preferred brands. Today’s customers
                            expect businesses to understand them and reward them without any added efforts. If anything, a loyal
                            customer expects their experience to be better because you know them. They want you to prove it. Modern
                            customers expect an experience that speaks to them, their interests, and their preferences. Even though
                            more brands are offering to join incentives to improve customer acquisition and the number of people
                            overall joining loyalty schemes is increasing rapidly year on year. Due to ample of available options,
                            consumers are free to choose relevant rewards. Reward programs which are engaging with the customers with
                            the right strategy are the winners. Increasing customer retention by 5% can increase profits by up to 95%,
                            so a loyalty scheme can play a major part in an uplift in profit. And that’s because loyalty scheme members
                             spend significantly more too – 30% more with traditional retailers than other shoppers.</p>
                            <p>According to Gartner, 65% of a company’s business comes from existing customers. Brands must stay relevant
                               and offer their customers what they want, otherwise, they are just a click away from being forgotten.Oracle
                                Loyalty Cloud is a next-generation loyalty program management platform designed to provide flexibility to
                                 businesses in order to stay competitive in the market and retain more customers at the same time. Oracle
                                  Loyalty Cloud helps businesses to gain competitive advantage and also assists in strengthening customer
                                   relationships.</p>
                               <ul>
                                 <li><b>Features of Oracle Loyalty Cloud: </b> Program Management</li>
                                 <li><b>Manage Multiple Platforms Membership Management: </b> Provides 360 degrees Members Insight Promotions Management</li>
                                 <li><b>Interactive Interface with no or Less IT Support Integration and Extensibility: </b> Comprehensive Integration Solution with Plug-in Assets</li>
                               </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h2 style="margin-top: 20px;"><i class="fa fa-adjust" aria-hidden="true"></i> Configure, Price and Quote</h2>
                          <p>Oracle Configure, Price, and Quote Cloud (Oracle CPQ Cloud) help organizations to streamline the entire
                            opportunity-to-quote-to-order process, including product selection, configuration, pricing, quoting, ordering,
                            and approval workflows.</p>
                            <p>By integrating Oracle CPQ Cloud to CRM, ERP or other web services to streamline, automate, and govern the
                               entire end-to-end sales process. Oracle CPQ Cloud help organizations in the following ways –</p>
                               <ul>
                                 <li><b>Faster deal closure</b></li>
                                 <li><b>Rich and improved customer experience</b></li>
                                 <li><b>Accurate results by waste elimination and margin maximization</b></li>
                                 <li><b>•	Interactive experience leads to increase up-sell and cross-sell opportunities</b></li>
                                </ul>
                  </div>
                </div>
              </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
