<div
  class="container-fluid box"
  style="  padding-left:0rem; padding-right: 0rem; margin-top: 50px;"
>
  <div class="person">
    <img src="/assets/person.png" alt="person" class="img-fluid" />
  </div>
  <div style="text-align:center;">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide >
        <div class="col-md-12">
          <!-- style="background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);" -->
          <h1 style="text-align: center; font-weight: 900;" class="bh">
            Solutions
          </h1>
          <hr class="line text-center" />
          <h1 class="mt">Oracle</h1>
          <div class="container animated fadeIn">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <div class="container">
                  <div class="row">
                    <div class="col-md-3 vl">
                      <div class="style_prevu_kit" [routerLink]="['/oracle-services']"
                      fragment="erp">
                        <img
                          src="/assets/logos/erp.png"
                          alt="erp"
                          class="imgicon"
                        />
                        <h4>Oracle Cloud ERP</h4>
                      </div>
                    </div>
                    <div class="col-md-3 vl" style="color: black;">
                      <div class="style_prevu_kit" [routerLink]="['/oracle-services']"
                      fragment="hcm">
                        <img
                          src="/assets/logos/hcm.png"
                          alt="hcm"
                          class="imgicon rounded-circle"
                        />
                        <h4 routerLink="/hcm">Oracle Cloud HCM</h4>
                      </div>
                    </div>
                    <div class="col-md-3 vl" style="color: black;">
                      <div class="style_prevu_kit" [routerLink]="['/oracle-services']"
                      fragment="scm">
                        <img
                          src="/assets/logos/scm.png"
                          alt="hcm"
                          class="imgicon rounded-circle"
                        />
                        <h4 routerLink="/scm">Oracle<br />SCM</h4>
                      </div>
                    </div>
                    <div
                      class="col-md-3 aq"
                     
                    >
                      <div class="style_prevu_kit" [routerLink]="['/oracle-services']"
                      fragment="man">
                        <img
                          src="/assets/logos/epm.png"
                          alt="hcm"
                          class="imgicon rounded-circle"
                        />
                        <h4 routerLink="/epm">Oracle<br />EPM</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class="row" style="margin-top: 0px;">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <div class="container">
                  <div class="row">
                    <div class="col-md-3 vll" style="color: black;">
                      <div class="style_prevu_kit" [routerLink]="['/oracle-services']"
                      fragment="cx">
                        <img
                          src="/assets/logos/cx.png"
                          alt="hcm"
                          class="imgicon rounded-circle"
                        />
                        <h4>Oracle<br />CX</h4>
                      </div>
                    </div>
                    <div class="col-md-3 vll" style="color: black;">
                      <div class="style_prevu_kit" [routerLink]="['/oracle-services']"
                      fragment="business">
                        <img
                          src="/assets/logos/ebusiness.png"
                          alt="hcm"
                          class="imgicon rounded-circle"
                        />
                        <h4>E-Business<br />Suite</h4>
                      </div>
                    </div>
                    <div class="col-md-3 vll" style="color: black;">
                      <div class="style_prevu_kit" [routerLink]="['/oracle-services']"
                      fragment="paas">
                        <img
                          src="/assets/logos/paas.png"
                          alt="paas"
                          class="imgicon rounded-circle"
                        />
                        <h4>PAAS<br />Solutions</h4>
                      </div>
                    </div>
                    <div
                      class="col-md-3"
                      style="color: black; margin-top: 20px; cursor: pointer; padding: 20px;padding-top: 0;"
                    >
                      <div class="style_prevu_kit" [routerLink]="['/oracle-services']"
                      fragment="bi">
                        <img
                          src="/assets/logos/bi.png"
                          alt="paas"
                          class="imgicon rounded-circle"
                        />
                        <h4>Oracle<br />BI</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="col-md-12">
          <!-- style="background: linear-gradient(to right, #642b73, #c6426e);" -->
          <h1 style="text-align: center; font-weight: 600;" class="bh">
            Solutions
          </h1>
          <hr class="line text-center" />
          <h1 class="mt">Analytics</h1>
          <div class="container animated fadeIn">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4 vl" style="color: black;">
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/incorta.png"
                          alt="paas"
                          class="imgicon rounded-circle"
                        />
                        <h4>Incorta</h4>
                      </div>
                    </div>
                    <div class="col-md-4 vl" style="color: black;">
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/tablau.png"
                          alt="paas"
                          class="imgicon4 rounded-circle"
                        />
                        <h4>Tableau</h4>
                      </div>
                    </div>
                    <div
                      class="col-md-4 bq"
                      
                    >
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/ssrs.png"
                          alt="paas"
                          class="imgicon rounded-circle"
                        />
                        <h4>SSRS</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class="row" style="margin-top: 0px;">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <div class="container">
                  <div class="row">
                    <div
                      class="col-md-4 vll"
                      style="color: black; margin-top: -10px;"
                    >
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/Qlik.png"
                          alt="paas"
                          class="imgicon2 rounded-circle"
                        />
                        <h4>Qlik</h4>
                      </div>
                    </div>
                    <div class="col-md-4 vll" style="color: black;">
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/alteryx.png"
                          alt="paas"
                          class="imgicon rounded-circle"
                        />
                        <h4>Alteryx</h4>
                      </div>
                    </div>
                    <div
                      class="col-md-4"
                      style="color: black; cursor: pointer; padding: 20px;"
                    >
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/powerbi.png"
                          alt="paas"
                          class="imgicon rounded-circle"
                        />
                        <h4>Power BI</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="col-md-12">
          <!-- style="background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);" -->
          <h1 style="text-align: center; font-weight: 600;" class="bh">
            Solutions
          </h1>
          <hr class="line text-center" />
          <h1 class="mt">Web Development</h1>
          <div class="container animated fadeIn">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4 vl" style="color: black;">
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/angular.png"
                          alt="paas"
                          class="imgicon rounded-circle"
                        />
                        <h4>Angular</h4>
                      </div>
                    </div>
                    <div class="col-md-4 vl" style="color: black;">
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/mgento.png"
                          alt="paas"
                          class="imgicon rounded-circle"
                        />
                        <h4>Majento 2</h4>
                      </div>
                    </div>
                    <div
                      class="col-md-4 cq"
                     >
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/react.png"
                          alt="paas"
                          class="imgicon rounded-circle"
                        />
                        <h4>React</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class="row" style="margin-top: 0px;">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4 vll" style="color: black;">
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/node.png"
                          alt="paas"
                          class="imgicon4 rounded-circle"
                        />
                        <h4>Node</h4>
                      </div>
                    </div>
                    <div class="col-md-4 vll" style="color: black;">
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/wordpress.png"
                          alt="paas"
                          class="imgicon rounded-circle"
                        />
                        <h4>Wordpress Dev</h4>
                      </div>
                    </div>
                    <div
                      class="col-md-4"
                      style="color: black; cursor: pointer; padding: 20px;"
                    >
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/php.png"
                          alt="paas"
                          class="imgicon4 rounded-circle"
                        />
                        <h4>PHP</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="col-md-12">
          <!-- style="background: linear-gradient(to right, #eb5757, #000000);" -->
          <h1 style="text-align: center; font-weight: 600;" class="bh">
            Solutions
          </h1>
          <hr class="line text-center" />
          <h1 class="mt">App Development</h1>
          <div class="container animated fadeIn">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4 vlad" style="color: black;">
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/android.png"
                          alt="paas"
                          class="imgicon rounded-circle"
                        />
                        <h4>Android</h4>
                      </div>
                    </div>
                    <div class="col-md-4 vlad" style="color: black;">
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/ios.png"
                          alt="paas"
                          class="imgicon rounded-circle"
                        />
                        <h4>IOS</h4>
                      </div>
                    </div>
                    <div
                      class="col-md-4"
                      style="color: black;  cursor: pointer; padding: 20px; margin-top: 100px;"
                    >
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/native.png"
                          alt="paas"
                          class="imgicon rounded-circle"
                        />
                        <h4>Native</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="col-md-12">
          <!-- style=" background: linear-gradient(to right, #e44d26, #f16529);" -->
          <h1 style="text-align: center; font-weight: 600;" class="bh">
            Solutions
          </h1>
          <hr class="line text-center" />
          <h1 class="mt">Digital Marketing</h1>
          <div class="container animated fadeIn">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <div class="container">
                  <div class="row">
                    <div class="col-md-3 vlad" style="color: black;">
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/sm.png"
                          alt="paas"
                          class="imgicon1 rounded-circle"
                        />
                        <h4>Social Marketing</h4>
                      </div>
                    </div>
                    <div class="col-md-3 vlad" style="color: black;">
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/em.png"
                          alt="paas"
                          class="imgicon1 rounded-circle"
                        />
                        <h4>Email Marketing</h4>
                      </div>
                    </div>
                    <div class="col-md-3 vlad" style="color: black; ">
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/cm.png"
                          alt="paas"
                          class="imgicon1 rounded-circle"
                        />
                        <h4>Content Marketing</h4>
                      </div>
                    </div>
                    <div
                      class="col-md-3"
                      style="color: black;  cursor: pointer; padding: 20px; margin-top: 100px;"
                    >
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/seo.png"
                          alt="paas"
                          class="imgicon1 rounded-circle"
                        />
                        <h4>SEO</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="col-md-12">
          <!-- style="background: linear-gradient(to right, #30e8bf, #ff8235);" -->
          <h1 style="text-align: center; font-weight: 600;" class="bh">
            Solutions
          </h1>
          <hr class="line text-center" />
          <h1 class="mt">Animations</h1>
          <div class="container animated fadeIn">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <div class="container">
                  <div class="row">
                    <div class="col-md-3 vlad" style="color: black;">
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/motion.png"
                          alt="paas"
                          class="imgicon1 rounded-circle"
                        />
                        <h4>Motion Graphics</h4>
                      </div>
                    </div>
                    <div class="col-md-3 vlad" style="color: black;">
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/3d.png"
                          alt="paas"
                          class="imgicon1 rounded-circle"
                        />
                        <h4>3D<br />Animation</h4>
                      </div>
                    </div>
                    <div class="col-md-3 vlad" style="color: black;">
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/productanimation.png"
                          alt="paas"
                          class="imgicon1 rounded-circle"
                        />
                        <h4>Product Animation</h4>
                      </div>
                    </div>
                    <div
                      class="col-md-3"
                      style="color: black;  cursor: pointer; padding: 20px; margin-top: 100px;"
                    >
                      <div class="style_prevu_kit">
                        <img
                          src="/assets/logos/elearning.png"
                          alt="paas"
                          class="imgicon1 rounded-circle"
                        />
                        <h4>E-Learning</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
